*{
    margin:0;
    padding:0;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
}
* html, body { 
    height: 100%;
}

body{
    background: #2D5908;
}

.clear{
    clear:both;
}

.header {
    height: 110px;
    position: relative;
    background-color: #2D5908;
    z-index: 999;
}
.header-content{
    clear: both;
    margin: 0 auto;
    width: 960px;
}

.header-logo {
    float: left;
    width: 650px;
    height: auto;    
    padding: 5px;
}

.header-logo img {
    width: 200px;
    height: 102px;
    float:left;
}

.header-logo h1 {
    margin-top: 25px;
    float: left;
    margin-left: 25px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
}

.header-menu{
    position: relative;
    float: right;
    display: inline-block;
    margin: 0;
    height: 110px;
}
.header-menu ul {
    list-style: none;
    height: 110px;
}
.header-menu ul li {
    border-left: 1px solid #377502;
    border-right: 1px solid #377502;
    height: 110px;
    float: left;

}
.header-menu ul li a {
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 110px;
    display: block;
}
.header-menu ul li a:hover{
    background-color: #377502;
}

.footer{
    clear: both;
    position: relative;
    background-color: #2D5908;
    z-index: 999;
    height: 110px;
}

.footer-content {
    clear: both;
    margin: 0 auto;
    width: 960px;
    padding: 25px 8px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

/**********************************
 common
**********************************/

.btn {
    box-sizing: border-box;
    border-radius: 6px;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
}

/**********************************
 HOME / BACKGROUND
**********************************/
.container {
    position: relative;
    margin: 0;
    width: 100%;
    height: 620px;
}

.master-background{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.background {
    background-image: url('../../images/site/bg-campo.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-width: 100%;
    min-height: 620px;
    display: block;
}

/**********************************
 HOME / SEARCH BOX
**********************************/

.search-header {
    position: relative;
    z-index:10;
    margin: 0;
    padding: 50px 0;
    font-size: 150%;
    text-align: center;
    color: #FFFFFF;
}

.searchbox {
    position:relative;
    z-index:10;
    width: 550px;
    background-color: #FFF48C;
    margin: 0 auto;
    border-radius: 8px;
    padding: 8px 0;
}

.searchbox fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.searchbox label {
    font-size: 22px;
    color: #1E3D03;
}

.form-group {
    position: relative;
    z-index: 200;
    padding: 0 0.9em 1.2em;
    margin-top: 10px;
}

.form-control {
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid !important;
    border-color: #CEBD23;
    font-size: 1.4em;
    padding: 5px;
    color: #353434;
    width: 100% !important;
}

.form-group-submit {
    padding: 0 0.9em 1.2em;
    text-align: right;
    margin-top: 25px;
}

.form-group-date{
    width: 40%;
    float: left;
}

.form-group-hour {
    width: 40%;
    float: right;
}

.btn-search {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 23px;
    color: #FFFFFF;
    background-color: #2D5908;
    width: 30%;
}
.btn-search:hover{
    background-color: #204401;
}    

/**********************************
 INTERNO
**********************************/

.container-page {
    min-height:100%;
    height:auto !important;
    height:100%;
    background-color: #FFFFFF;
}

.container-inside {
    position: relative;
    margin: 0 auto;
    width: 960px;
    background-color: #FFFFFF;
    padding:0 10px;
}

.container-left {
    float: left;
    width: 264px;
    background-color: #FFF48C;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 0;
}

.container-left fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.container-left label {
    font-size: 18px;
    color: #1E3D03;
}

.form-sidebar-submit {
    padding: 0 0.9em 1.2em;
    text-align: right;
    margin-top: 25px;
}

.form-sidebar-date{
    width: 40%;
    float: left;
}

.form-sidebar-hour {
    width: 35%;
    float: right;
}

.btn-sidebar-search {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 23px;
    color: #FFFFFF;
    background-color: #2D5908;
    width: 70%;
}
.btn-sidebar-search:hover{
    background-color: #204401;
}   

/***********************************
 * SEARCH RESULT LIST
 **********************************/
.container-right {
    float: left;
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}
.container-right h1 {
    margin-bottom: 15px;
    color: #204401;
}
.container-list{
    float:left;
    width: 100%;
}
.list-item{
    float:left;
    width: 100%;
    border-top: 1px dashed #2D5908;
    height: 200px;
    padding: 8px 0;
    clear: both;
}
.list-item h3 {
    color: #377502;
    font-weight: bold;
    font-size: 22px;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 5px;
}
.list-item-image {
    float: left;
    width: 200px;
    margin-right: 10px;
}
.list-item-image img{
    width: 200px;
    height: 200px;
}
.list-item-content {
    float: left;
    width: 462px;
}
.list-item-address {
    float: left;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}
.list-item-description{
    float: left;
    font-size: 14px;
}
.list-item-btn {
    float: right;
    margin-top: 15px;
}
.list-item-btn a, .list-item-btn input {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 10px;
    color: #FFFFFF;
    background-color: #2D5908;
    box-shadow: 0 0 3px #aaa
}
.list-item-btn a:hover, .list-item-btn input:hover {
    background-color: #204401;
    box-shadow: 0 0 3px #aaa;
}

