*{
    margin:0;
    padding:0;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
}
* html, body { 
    height: 100%;
}

body{
    background: #2D5908;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

a img{
    border:none;
}

.clear{
    clear:both;
}

.header {
    height: 110px;
    position: relative;
    background-color: #2D5908;
    z-index: 999;
}
.header-content{
    clear: both;
    margin: 0 auto;
    width: 960px;
}

.header-logo {
    float: left;
    width: 650px;
    height: auto;    
    padding: 5px;
}

.header-logo img {
    width: 200px;
    height: 102px;
    float:left;
}

.header-logo h1 {
    margin-top: 25px;
    float: left;
    margin-left: 25px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
}

.header-menu{
    position: relative;
    float: right;
    display: inline-block;
    margin: 0;
    height: 110px;
}
.header-menu ul {
    list-style: none;
    height: 110px;
}
.header-menu ul li {
    border-left: 1px solid #377502;
    border-right: 1px solid #377502;
    height: 110px;
    float: left;

}
.header-menu ul li a {
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 110px;
    display: block;
}
.header-menu ul li a:hover{
    background-color: #377502;
}

.footer{
    clear: both;
    position: relative;
    background-color: #2D5908;
    z-index: 999;
    height: 110px;
}

.footer-content {
    clear: both;
    margin: 0 auto;
    width: 960px;
    padding: 25px 8px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

/**********************************
 common
**********************************/

.btn {
    box-sizing: border-box;
    border-radius: 6px;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
}

/**********************************
 HOME / BACKGROUND
**********************************/
.container {
    position: relative;
    margin: 0;
    width: 100%;
    height: 620px;
}

.master-background{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.background {
    background-image: url('../../images/site/bg-campo.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-width: 100%;
    min-height: 620px;
    display: block;
}

/**********************************
 HOME / SEARCH BOX
**********************************/

.search-header {
    position: relative;
    z-index:10;
    margin: 0;
    padding: 50px 0;
    font-size: 150%;
    text-align: center;
    color: #FFFFFF;
}

.searchbox {
    position:relative;
    z-index:10;
    width: 550px;
    background-color: #FFF48C;
    margin: 0 auto;
    border-radius: 8px;
    padding: 8px 0;
}

.searchbox label {
    font-size: 22px;
    color: #1E3D03;
}

.form-group {
    position: relative;
    z-index: 200;
    padding: 0 0.9em 1.2em;
    margin-top: 10px;
}

.form-control {
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid !important;
    border-color: #CEBD23;
    font-size: 1.4em;
    padding: 5px;
    color: #353434;
    width: 100% !important;
}

.form-group-submit {
    padding: 0 0.9em 1.2em;
    text-align: right;
    margin-top: 25px;
}

.form-group-date{
    width: 40%;
    float: left;
}

.form-group-hour {
    width: 40%;
    float: right;
}

.btn-search {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 23px;
    color: #FFFFFF;
    background-color: #2D5908;
    width: 30%;
}
.btn-search:hover{
    background-color: #204401;
}    

/**********************************
 INTERNO
**********************************/

.container-page {
    min-height:100%;
    height:auto !important;
    height:100%;
    background-color: #FFFFFF;
}

.container-inside {
    position: relative;
    margin: 0 auto;
    width: 960px;
    background-color: #FFFFFF;
    padding:0 10px;
    min-height: 350px;
}

.container-left {
    float: left;
    width: 264px;
    background-color: #FFF48C;
    border: 1px solid #CEBD23;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 0;
}

.container-left label {
    font-size: 18px;
    font-weight: bold;
    color: #1E3D03;
}

.form-sidebar-submit {
    padding: 0 0.9em 1.2em;
    text-align: right;
    margin-top: 25px;
}

.form-sidebar-date{
    width: 40%;
    float: left;
}

.form-sidebar-hour {
    width: 35%;
    float: right;
}

.btn-sidebar-search {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 23px;
    color: #FFFFFF;
    background-color: #2D5908;
    width: 70%;
}
.btn-sidebar-search:hover{
    background-color: #204401;
}   

/***********************************
 * SEARCH RESULT LIST
 **********************************/
.container-right {
    float: left;
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.container-right h1 {
    margin-bottom: 15px;
    color: #204401;
}
.container-list{
    float:left;
    width: 100%;
}
.list-item{
    float:left;
    width: 100%;
    border-top: 1px dashed #2D5908;
    height: 200px;
    padding: 8px 0;
    clear: both;
}
.list-item h3 {
    color: #377502;
    font-weight: bold;
    font-size: 22px;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 5px;
}
.list-item-image {
    float: left;
    width: 200px;
    margin-right: 10px;
}
.list-item-image img{
    width: 200px;
    height: 200px;
}
.list-item-content {
    float: left;
    width: 462px;
}
.list-item-address {
    float: left;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}
.list-item-description{
    float: left;
    font-size: 14px;
}
.list-item-btn {
    float: right;
    margin-top: 15px;
}
.list-item-btn a, .list-item-btn input {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 10px;
    color: #FFFFFF;
    background-color: #2D5908;
    box-shadow: 0 0 3px #aaa
}
.list-item-btn a:hover, .list-item-btn input:hover {
    background-color: #204401;
    box-shadow: 0 0 3px #aaa;
}

/***********************************
 * PROVIDER PAGE
 **********************************/
.container-provider {
    float: left;
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.container-provider h1 {
    margin-bottom: 5px;
    color: #204401;
}
.provider-address {
    float: left;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 5px;
}
.provider-images {
    clear: both;
    padding: 10px 0;
}
.provider-description {
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #DCDCDC;

}
.provider-product {
    clear: both;
    padding: 15px 0;
}
.provider-product h3 {
    margin-bottom: 20px;
    color: #377502;
}

/***********************************
 * PROVIDER AVAILABILITY
 **********************************/
.provider-availability {
    padding: 5px 0; 
    background-color: #EAF7EE;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.provider-availability input, .provider-availability select {
    border-color: #738E7B !important;
    font-size: 1em;
}

.provider-availability label {
    font-size: 16px;
    font-weight: bold;
    color: #1E3D03;
}

.form-availability-date {
    width: 25%;
    float: left;
}

.form-availability-hour {
    width: 25%;
    float: left;
}

.form-availability-submit {
    float: right;
    text-align: right;
    margin-top: 25px;
    margin-right: 25px;
}

.btn-availability-search {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 30px;
    color: #1E3D03;
    background-color: #DCDCDC;
    width: 80%;
    border: 1px solid #738e7b;                 
}

.btn-availability-search:hover{
    background-color: #F5F5F5;
}   

/***********************************
 * PROVIDER PRODUCT
 **********************************/
.provider-product-list {
    clear: both;
    padding: 35px 0;
}

.provider-product-list select {
    border-color: #738E7B !important;
    border-radius: 0 !important;
    font-size: 0.9em;
}

.provider-product-list table {
    border-color: #377502;
    width: 100%;
    border-spacing: 0;
}
.provider-product-list table th { 
    padding: 6px 8px;
    background-color: #2E6001;
    color: #FFFFFF;
}
.provider-product-list table td {
    padding: 6px;
}
.provider-product-list table td, .provider-product-list table th {
    border-left: 1px solid #377502;
    text-align: left;
}
.provider-product-list table td.product-type {
    border-left: 0 none;
}
.provider-product-list table td {
    border-top:  1px solid #377502 !important;
    border-collapse: collapse;
}
.provider-product-list div.product-booking {
    text-align: center;
}
.provider-product-list input {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding: 5px 10px;
    color: #FFFFFF;
    background-color: #489B00;
    border: 2px solid #fff;
    border-radius: 0 !important;
    box-shadow: 0 0 3px #aaa;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}
.provider-product-list input:hover{
    background-color: #204401;
}   
.provider-product-list p.product-bottom {
    background-color: #FFFFFF;
    border-top:  1px solid #377502 ;
    border-collapse: collapse;
}

/***********************************
 * CONTAINER BOOKING
 **********************************/
.container-booking {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 960px;
    background-color: #FFFFFF;
    padding:0 10px;
    min-height: 350px;
}

.container-booking h1{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 24px;
    color: #204401;
}

/*********************************
 * BOOKING PROGRESS
 ********************************/
.container-progress {
    width: 100%;
    margin-top: 20px;
}

.container-progress ul { 
    padding: 0;
    margin: 0;
    display: block;
    height: 2.08em;
    list-style: outside none none;
    width: auto;
    background-color: #EAF7EE;
    border: 1px solid #dcdcdc;
}
.container-progress ul li {
    float: left;
    clear: right;
    display: block;
    line-height: 2.08em;
    text-align: center;
    width: 25%;
    color: #1e3d03;
}
.container-progress ul li.active {
    font-weight: bold;
    background-color: #dcdcdc;
}

/*********************************
 * BOOKING overview
 ********************************/
.container-overview {
    clear: both;
    width: 100%;
    margin-top: 30px;
}
table.booking-detail, table.booking-data {
    float: left;
    width: 69%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    font-size: 13px;
    border-collapse: collapse;
}
.container-overview table.booking-detail td {
    font-weight: normal;
    border: 0 none;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.container-overview-image {
    float: left;
    width: 200px;
    margin-right: 10px;
}
.container-overview-image img {
    width: 200px;
    height: 200px;
    border: 0;
}
.container-overview-description {
    float: left;
    margin-bottom: 15px;
}
.container-overview-description h2 {
    color: #204401;
    margin-bottom: 5px;
    font-size: 22px;
}
.container-overview-description p {
    float: left;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 5px;
}
.container-overview-stay {
    float: left;
}
.container-overview-stay p { 
    font-size: 16px;
    margin-bottom: 10px;
}
.overview-price {
    float: right;
    width: 28%;
    background-color: #2E6001;
    border: 0;
    border-radius: 3px;
    font-size: 1.4em;
    color: #FFFFFF;
    margin: 0;
    padding: 11px;
}
.overview-price table.booking-price {
    width: 100%;
}

/*********************************
 * BOOKING USER DATA
 ********************************/
.container-data {
    clear: both;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.container-data table.booking-data td {
    width: 100%;
}
.booking-data-container {
    padding: 0;
    margin: 0;
    width: auto;
    background-color: #EAF7EE;
    border: 1px solid #dcdcdc;
}
.booking-data-title {
    padding: 0.85em;
    position: relative;
    color: #FFFFFF;
    background-color: #79B28A;
    font-size: 16px;
    font-weight: bold;
}
.booking-data-user {
    padding: 10px;
}
.booking-data-user input, .booking-data-user select{
    border-color: #738E7B !important;
    font-size: 1em;
}
.booking-data-user label {
    font-size: 16px;
    font-weight: bold;
    color: #1E3D03;
    clear: both;
}
.booking-data-user-group-col-md-1 {
    float: left;
    position: relative;
    width: 640px;
    margin-top: 10px;
}

.booking-data-user-group-col-md-2 {
    float: left;
    position: relative;
    width: 310px;
    margin-right: 10px;
    margin-top: 10px;
}

.booking-data-user-group label {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #1E3D03;
    margin: 5px 0;
}
.booking-data-user-control {
    float:left;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #738e7b;
    font-size: 1.4em;
    padding: 5px;
    color: #353434;
    clear: both;
    position: relative;
    width: 100%;
}

.booking-data-user-error {
    clear: both;
    float: left;
    color: #800;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0;
}

.booking-data-user-submit {
    clear: both;
    position: relative;
    width: 640px;
    margin-top: 30px;
    float: right;
    text-align: right;
}

.booking-data-user-submit input[type="submit"], .booking-data-user-submit button {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 23px;
    color: #FFFFFF;
    background-color: #2D5908;
}
.booking-data-user-submit input[type="submit"]:hover, .booking-data-user-submit button:hover {
    background-color: #204401;
} 

/***********************************
 * USER IDENTIFY
 **********************************/

.container-identify {
    min-height: 380px;
    padding: 20px 15px 30px;
    width: 100%;
}
.container-identify h3 { 
    color: #377502;
    font-weight: bold;
    font-size: 22px;
    margin: 20px 20px 5px;
}
.container-login, .container-register {
    float: left;
    width: 50%;
    border:none;
    height:380px;
}
.container-login:hover, .container-register:hover {
    background-color: #eaf7ee;
}
.form-login-group {
    float: left;
    position: relative;
    width: 440px;
    margin: 20px 20px 5px;
}
.form-login-group .col-md-1 {
    clear: both;
    position: relative;
    width: 100%;
}
.login-submit {
    text-align: center;
}
.login-submit input[type="submit"], .login-submit button {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.33;
    padding: 5px 23px;
    color: #FFFFFF;
    background-color: #2D5908;
}
.login-submit input[type="submit"]:hover, .login-submit button:hover {
    background-color: #204401;
}  
.form-login-group label {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #1E3D03;
    margin: 5px 0;
}
.form-login-control {
    float:left;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #738e7b;
    font-size: 1.4em;
    padding: 5px;
    color: #353434;
    width: 80%;
}
.form-login-error {
    clear: both;
    float: left;
    color: #800;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0;
}