<div class="footer">
    <div class="footer-content">
        <p>&copy; Copyright {{ "now"|date('Y') }} - MarqueJogo.com <br>
        <br>
        <span>Fotos ilustrativas - Especificações sujeitas a alterações sem prévio aviso</span></p>
    </div>
</div>