<div class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href="{{ path('marquejogo_homepage') }}">
                <img src="/bundles/marcoshoyamarquejogo/images/site/player-logo.png" />
                <h1>MarqueJogo.com</h1>
            </a>

        </div>
        <div class="header-menu">
            <ul>
                {% if app.user and is_granted('ROLE_CUSTOMER', app.security.getToken().getUser()) %}
                    <li><a href="{{ path('customer_dash') }}">Reservas</a></li>
                    <li><a href="{{ path('customer_logout') }}">Sair</a></li>
                {% else %}
                    <li><a href="{{ path('customer_login') }}">Acesse sua conta</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>