{% extends 'MarcoshoyaMarquejogoBundle:Site:index2.html.twig' %}

{% block container %}
    <div class="search-header">
        <h3>Reserve sua quadra agora mesmo</h3>
    </div>
    <div class="searchbox">
        
        MEU BOX
        
    </div>
    
{% endblock %}