<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MarqueJogo.com - Área do Cliente</title>

        {% block stylesheets %}
            <link href="{{ asset('/bundles/marcoshoyamarquejogo/css/site/style2.css') }}" rel="stylesheet" type="text/css" />

            <style>

                .container-register-left, .container-register-right {
                    float:left;
                }
                .container-register-right {
                    margin-left: 10px;
                }

                .register-data-container {
                    width: 550px;
                    background-color: #EAF7EE;
                    border: 1px solid #dcdcdc;
                    margin-bottom: 25px;
                }
                .register-data-title {
                    padding: 0.85em;
                    position: relative;
                    color: #FFFFFF;
                    background-color: #79B28A;
                    font-size: 16px;
                    font-weight: bold;
                }
                .register-data-user {
                    padding: 10px;
                }
                .register-data-user input, .register-data-user select{
                    border-color: #738E7B !important;
                    font-size: 1em;
                }
                .register-data-user label {
                    font-size: 16px;
                    font-weight: bold;
                    color: #1E3D03;
                    clear: both;
                }

                .register-data-user-group-col-md-1 {
                    float: left;
                    position: relative;
                    width: 530px;
                    margin-top: 10px;
                }

                .register-data-user-group-col-md-2 {
                    float: left;
                    position: relative;
                    width: 310px;
                    margin-right: 10px;
                    margin-top: 10px;
                }

                .register-data-user-group label {
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                    color: #1E3D03;
                    margin: 5px 0;
                }
                .register-data-user-control {
                    float:left;
                    box-sizing: border-box;
                    border-radius: 3px;
                    border: 1px solid #738e7b;
                    font-size: 1.4em;
                    padding: 5px;
                    color: #353434;
                    clear: both;
                    position: relative;
                    width: 100%;
                }

                .register-data-user-error {
                    clear: both;
                    float: left;
                    color: #800;
                    font-style: italic;
                    font-size: 14px;
                    margin: 5px 0;
                }

                .register-data-user-submit {
                    clear: both;
                    position: relative;
                    width: 530px;
                    margin-top: 30px;
                    float: right;
                    text-align: right;
                }

                .register-data-user-submit input[type="submit"], .register-data-user-submit button {
                    font-size: 23px;
                    font-weight: bold;
                    line-height: 1.33;
                    padding: 5px 23px;
                    color: #FFFFFF;
                    background-color: #2D5908;
                }
                .register-data-user-submit input[type="submit"]:hover, .register-data-user-submit button:hover {
                    background-color: #204401;
                } 

            </style>

        {% endblock %}

        {% block javascripts %}

        {% endblock %}

    </head>

    <body>
        <div class="container-page">
            {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Main:header')) }}
            <div class="container-customer">
                {% block container %}

                {% endblock %}
            </div>
            {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Main:footer')) }}
        </div>
    </body>

</html>