<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MarqueJogo.com</title>

        {% block stylesheets %}

            <link href="{{ asset('/bundles/marcoshoyamarquejogo/css/site/style.css') }}" rel="stylesheet" type="text/css" />

            <style>

                

            </style>
        {% endblock %}

        {% block javascripts %}


        {% endblock %} 

    </head>

    <body>

        <div id="page">

            <div id="topo">
                MarqueJogo.com
            </div>
            <div id="menu">
                <ul class="menu">
                    <li><a class="nav" href="#">Home</a></li>
                    <li class="divider"></li>
                    <li><a class="nav" href="#">Contato</a></li>
                </ul>
            </div>
            <div id="content">

                <div id="busca">

                </div>

                <!-- Page Content -->
                {% block container %}

                {% endblock %}

                <!-- /#page-wrapper -->

            </div>

            <div class="clear"></div>


            <div id="rodape">

                <p>Copyright 2014 - MarqueJogo.com <br>
                    <br>
                    <span>Fotos ilustrativas - Especificações sujeitas a alterações sem prévio aviso</span></p>
            </div>

        </div>
    </body>

</html>