<table class="booking-detail">
    <tr>
        <td>
            <div class="container-overview-image">
                <img src="/bundles/marcoshoyamarquejogo/images/site/fornecedor1.jpg" />
            </div>
            <div class="container-overview-description">
                <h2>Quadra do João</h2>
                <p>Avenida Iguaçu, 399, Rebouças, Curitiba</p>
            </div>
            <div class="container-overview-stay">
                <p><b>Data</b> <br />
                    01 de março as 19h
                </p>
                <p><b>Quadra</b> <br />
                    Society interna 1 - 10 pessoas
                </p>
            </div>
        </td>
    </tr>
</table>
<div class="overview-price">
    <table class="booking-price">
        <tbody>
            <tr>
                <td>Preço total</td>
                <td align="right">R$ 50,00</td>
            </tr>
        </tbody>
    </table>
</div>