{% extends 'MarcoshoyaMarquejogoBundle:Site:index2.html.twig' %}

{% block container %}
    
    <div class="container-inside">
        
        <div class="container-body">
            <div class="container-left">
                Busca
            </div>
            <div class="container-right">
                <h1>Resultados encontrados</h1>
                
                <div class="container-list">
                    <div class="list-item">
                        <h2>João da Esquina</h2>
                    </div>
                    <div class="list-item">
                        <h2>João da Esquina</h2>
                    </div>
                    <div class="list-item">
                        <h2>João da Esquina</h2>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    
{% endblock %}