{% extends 'MarcoshoyaMarquejogoBundle:Site:booking.html.twig' %}

{% block container %}
    
    {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Book:progress', {step: 3})) }}

    <div class="container-overview">
        Confirmação
    </div>
    <div class="container-data">
       
    </div>

{% endblock %}