{% extends 'MarcoshoyaMarquejogoBundle:Site:booking.html.twig' %}

{% block container %}
    
    {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Booking:progress', {step: 2})) }}

    <div class="container-overview">
        {{ render(controller('MarcoshoyaMarquejogoBundle:Site/Booking:overview')) }}
    </div>
    <div class="container-data">
        <table class="booking-data">
            <tbody>
                <tr>
                    <td>
                        <div class="booking-data-container">
                            <div class="booking-data-title">
                                Insira seus dados
                            </div>
                            <div class="booking-data-user">
                                <form action="{{ path('booking_information') }}" method="post" >
                                    <fieldset> 
                                        <div class="booking-data-user-group-col-md-1">
                                            <label class="col-md-2">Nome</label>
                                            <div class="col-md-1">
                                                <input type="text" class="booking-data-user-control" />
                                                <span class="booking-data-user-error">Email obrigat贸rio</span>
                                            </div>
                                        </div>
                                        <div class="booking-data-user-group-col-md-1">
                                            <label class="col-md-2">E-mail</label>
                                            <div class="col-md-1">
                                                <input type="text" class="booking-data-user-control" />
                                                <span class="booking-data-user-error">Email obrigat贸rio</span>
                                            </div>
                                        </div>
                                        <div class="booking-data-user-group-col-md-2">
                                            <label class="col-md-2">Telefone</label>
                                            <div class="col-md-1">
                                                <input type="text" class="booking-data-user-control" />
                                                <span class="booking-data-user-error">Email obrigat贸rio</span>
                                            </div>
                                        </div>
                                        <div class="booking-data-user-group-col-md-2">
                                            <label class="col-md-2">Nome do time</label>
                                            <div class="col-md-1">
                                                <input type="text" class="booking-data-user-control" />
                                                <span class="booking-data-user-error">Email obrigat贸rio</span>
                                            </div>
                                        </div>
                                        <div class="booking-data-user-submit">
                                            <input type="submit" class="btn" value="Continuar" />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}