<div class="container-progress">
    <ul>
        <li>1. Escolha a quadra</li>
        <li {{ step == '2' ? 'class="active"' : '' }}>2. Insira seus dados</li>
        <li {{ step == '3' ? 'class="active"' : '' }}>3. Confirmação</li>
    </ul>
</div>